<div class="container">
  <mat-card>
    <div class="my-header">
      <h1>Last login</h1>
    </div>

    <div class="content">
      <form [formGroup]="loginGroup">
        <mat-form-field appearance="standard">
          <mat-label>Username:</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-radio-group class="options" formControlName="type">
          <mat-radio-button value="GET">Get last time</mat-radio-button>
          <mat-radio-button value="PUT">Update time</mat-radio-button>
        </mat-radio-group>
      </form>
      <button (click)="sendRequest()" class="request-button" mat-flat-button color="primary">Send request</button>
    </div>
    <div style="margin-top: 16px">
      <span *ngIf="sending">Sending request...</span>
      <span *ngIf="time">Time of last login is {{time}}</span>
    </div>
  </mat-card>
</div>
