/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background: #f7f7f7;
}

.container {
  width: 600px;
  margin: 64px auto 0 auto;
  height: 100vh;
}

.my-header h1 {
  margin-top: 32px;
  font-size: 3.5em;
  text-align: center;
}

.content {
  form {
    display: flex;
    flex-direction: column;
  }
  .options > * {
    margin-right: 16px;
  }
  .request-button {
    width: 100%;
    margin-top: 16px;
  }
}
